body {
    background-image: url("/images/background.png");
    background-color: #ececec;
}

article {
    background-color: rgba(255,255,255,0.95);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1); /* h-offset, v-offset, blur, color */
}

.hextra-card {
    background-color: #FFFFFF7F;
}

.hextra-footer {
    background-color: rgba(255,255,255,0.90);
}

/* Hide search until we have actual pages to search */
.hextra-search-input {
    display: none;
}